extends layout

block content
  .container
    form.form-signin(method='post', action='', role='form')
      h2.form-signin-heading Please Login
      .form-group
        input.form-control(name='email', type='email', placeholder='Your email')
      .form-group
        input.form-control(name='password', type='password', placeholder='Your password')
      .form-group
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
